.place{
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 250px;
  background: rgba(33, 255, 0, 0.05);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 3px );
  overflow: hidden;
  cursor: default;
}

.place:hover>.place__description{
  opacity: 1;
  visibility: visible;
}

.place:hover>.place__delete{
  opacity: 1;
  visibility: visible;
}

.place:hover>.place__update-visited{
  opacity: 1;
  visibility: visible;
}