.root{
  background-image: url("../../images/ssspot.svg");
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: 'Inter', Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  .root{
    background-image: none;
    background-color: black;
  }
}

*{
  font-family: 'Inter', Arial, sans-serif;
}