.places{
  display: flex;
  gap: 25px;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  height: 85vh;
  width: 100vw;
  overflow: hidden;
  overflow-y: visible;
  margin: 0;
  padding: 90px 0 550px;
}